﻿@model Services.ViewModels.ScenarioConflictViewModel;

<label asp-for="@Model.ConflictTypeIds" class="control-label"></label>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the types of Conflicts that occurred"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha os Tipos de Conflitos que ocorreram"></i>

@*<select asp-for="@Model.ConflictTypeIds" asp-items="@Model.ConflictTypeSelectList" class="form-control dropdown-select2" multiple searchable="Search...">*@
<select asp-for="@Model.ConflictTypeIds" asp-items="@Model.ConflictTypeSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
</select>

<span asp-validation-for="@Model.ConflictTypeIds" class="text-danger"></span>