﻿@model ConflictTypeIndexViewModel;
<div class="d-flex justify-content-center">

    <div class="table-responsive col-md-12">
        <table class="table table-striped table-bordered" cellspacing="0" cellpadding="0" style="font-size: smaller;">
            <thead>
                <tr>
                    @*<th class="w-75">Type</th>

                        <th class="actions">Actions</th>*@

                    <th class="w-75">Tipo de Conflito</th>

                    <th class="actions">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {

                    @foreach (var item in Model.ConflictTypeList)
                    {
                        <tr id="@item.Id">
                            <td class="w-75">@item.Type</td>
                            <td class="actions">
                                <a href="#" id="details-button" class="btn"><i class="fa fa-search"></i></a>
                                @if (Model.IsAdmin || Model.CurrentUserId == item.UserId)
                                {
                                    <a asp-controller="ConflictType" asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="fa fa-edit"></i></a>
                                    <a href="#" id="remove-button" class="btn" data-toggle="modal" data-target="#delete-modal"><i class="fa fa-trash"></i></a>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

@*<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Próxima</a>
            </li>
        </ul>
    </nav>*@

