﻿@using Domain.Enums;

<div class="modal fade" id="emotion-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="form-group col-md-2 col-sm-12">
                        <label class="control-label">Emoção</label>
                        <select id="emotion" asp-items="Html.GetEnumSelectList<Emotions>()" class="form-control"></select>
                    </div>

                    <div class="form-group col-md-9 col-sm-12">
                        <img id="image-tree" src="" style="display: block; width: 50%;">
                    </div>

                </div>


                <div id="image-tree-information" style="display:none;">
                    <label style="margin-top: 30px;">
                        Imagem adaptada do livro: "Abc do Girafês: Aprendendo a Ser um comunicador emocional eficaz". Autor: Jéferson Cappellari.)
                    </label>
                </div>

            </div>
        </div>
    </div>
</div>