﻿@model Services.ViewModels.ScenarioConflictJourneyViewModel;
@using Domain.Enums;

@for (int i = 0; i < Model.Evolutions.Count; i++)
{


    <div class="card card bg-white mb-3">
        <div class="card-body">
            <div class="row" style="text-align:center">
                <div class="col-md-3 col-sm-3">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <label class="control-label control-label-size">Sentimento</label>
                            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 1 nessa etapa da jornada do conflito?"></i>
                            <select asp-for="Evolutions[i].FeelingStakeholder1" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label class="control-label control-label-size">Comportamento</label>
                            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                            <select asp-for="Evolutions[i].BehaviorStakeholder1" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                            <span class="text-danger"></span>
                        </div>

                    </div>

                </div>

                <div class="col-md-6 col-sm-6">
                    <label class="control-label control-label-size font-weight-bold">@if (i == 0)
                    {<text>3ª -</text>} Evolução (@(i + 1))</label>
                    <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Como o conflito se desenvolveu?"></i>
                    <textarea asp-for="Evolutions[i].Stage" class="form-control" rows="2" cols="40"></textarea>

                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="row">

                        <div class="col-md-6 col-sm-6">
                            <label class="control-label control-label-size">Sentimento</label>
                            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                            <select asp-for="Evolutions[i].FeelingStakeholder2" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                            <span class="text-danger"></span>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label class="control-label control-label-size">Comportamento</label>
                            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                            <select asp-for="Evolutions[i].BehaviorStakeholder2" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                            <span class="text-danger"></span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="form-row" style="text-align: center;">

        @if (!Model.IsDetails)
        {
            @if (i != 0)
            {
                <div class="col-12">
                    <div id="remove-evolution" type="button" class="btn btn-danger" style="margin-bottom: 20px;" data-index="@i">Remover Evolução</div>
                </div>
            }
        }
    </div>

    @if (!Model.IsDetails)
    {
        @if (i == Model.Evolutions.Count() - 1)
        {
            <div class="form-row" style="text-align: center;">
                <div class="col-12">

                    @*<div id="add-evolution" type="button" class="btn btn-primary" style="display: block; margin: 0 auto; margin-bottom: 20px;">Adicionar Evolução</div>*@
                    <div id="add-evolution" type="button" class="btn btn-info" style="margin-bottom: 20px;">Adicionar Evolução</div>
                </div>
            </div>
        }
    }
}

