﻿@model Services.ViewModels.ScenarioConflictViewModel;
@using Domain.Enums;

<input asp-for="HasErrorConflict" type="hidden" />


<div class="form-row">
    <div class="form-group col-md-5 col-sm-12">
        <label asp-for="@Model.ConflictImpact" class="control-label"></label>
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha o Impacto do Conflito"></i>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Economica, Ex: Relacionada a conflitos devido a escassez de recursos;
            Valor, Ex: Conflito entre ideais, princípios e preferências;
            Poder, Ex: Hierarquia no trabalho;"></i>*@
    <select asp-for="@Model.ConflictImpact" asp-items="Html.GetEnumSelectList<ConflictImpact>()" class="form-control" placeholder="">
        <option value="0">Não Informado</option>

    </select>
        <span asp-validation-for="@Model.ConflictImpact" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1 col-sm-12">
    </div>

    <div class="form-group col-md-5 col-sm-12">
        <label asp-for="@Model.DevelopingType" class="control-label"></label>
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha o tipo de desenvolvimento utilizado"></i>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Economica, Ex: Relacionada a conflitos devido a escassez de recursos;
            Valor, Ex: Conflito entre ideais, princípios e preferências;
            Poder, Ex: Hierarquia no trabalho;"></i>*@
        <select asp-for="@Model.DevelopingType" asp-items="Html.GetEnumSelectList<DevelopingType>()" class="form-control" placeholder=""></select>
        <span asp-validation-for="@Model.DevelopingType" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1 col-sm-12">
    </div>

    <div class="form-group col-md-5 col-sm-12">
        <label asp-for="@Model.TeamLocalization" class="control-label"></label>
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha a distribuição do time. Ex: Distribuido; localizado"></i>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Economica, Ex: Relacionada a conflitos devido a escassez de recursos;
            Valor, Ex: Conflito entre ideais, princípios e preferências;
            Poder, Ex: Hierarquia no trabalho;"></i>*@
        <input asp-for="@Model.TeamLocalization" class="form-control" placeholder="Distribuição da equipe" />
        <span asp-validation-for="@Model.TeamLocalization" class="text-danger"></span>
    </div>
    <div class="form-group col-md-1 col-sm-12">
    </div>


    @*<div class="form-group col-6">
            <label asp-for="@Model.ConflictEffects" class="control-label"></label>
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Conflict Effects"></i>
            <input asp-for="@Model.ConflictEffects" class="form-control col-10" placeholder="Conflict Effects" />
            <span asp-validation-for="@Model.ConflictEffects" class="text-danger"></span>
        </div>*@



    @*-----------------------------------------------*@

    <div id="replace-dd-se-phase" class="form-group col-md-5 col-sm-12">

        <partial name="../SEPhase/DropdownSEPhase" model="Model">

    </div>
    <div class="form-group col-md-1 col-sm-12">
        @if (!Model.IsDetails)
        {
            <a id="create-se-phase" class="btn btn-info conflict-btn-add" style="position: absolute; bottom: 0;"><i class="fa fa-plus"></i></a>
        }
    </div>

    @*-----------------------------------------------*@

    <div id="replace-dd-conflict-type" class="form-group col-md-5 col-sm-12">

        <partial name="../ConflictType/DropdownConflictType" model="Model">

    </div>
    <div class="form-group col-md-1 col-sm-12">
        @if (!Model.IsDetails)
        {
            <a id="create-conflict-type" class="btn btn-info conflict-btn-add" style="position: absolute; bottom: 0;"><i class="fa fa-plus"></i></a>
        }
    </div>



    @*-----------------------------------------------*@

    <div id="replace-dd-severity" class="form-group col-md-5 col-sm-12">

        <partial name="../Severity/DropdownSeverity" model="Model">

    </div>
    <div class="form-group col-md-1 col-sm-12">
        @if (!Model.IsDetails)
        {
            <a id="create-severity" class="btn btn-info conflict-btn-add" style="position: absolute; bottom: 0;"><i class="fa fa-plus"></i></a>
        }
    </div>
    @*-----------------------------------------------*@

    <div id="replace-dd-manage-conflict" class="form-group col-md-5 col-sm-12">

        <partial name="../ManageConflict/DropdownManageConflict" model="Model">

    </div>
    <div class="form-group col-md-1 col-sm-12">
        @if (!Model.IsDetails)
        {
            <a id="create-manage-conflict" class="btn btn-info conflict-btn-add" style="position: absolute; bottom: 0;"><i class="fa fa-plus"></i></a>
        }
    </div>
</div>


