﻿@model Services.ViewModels.ScenarioStakeholdersViewModel;

<input asp-for="HasErrorStakeholders" type="hidden" />

<div id="replace-stakeholder">
    <partial name="_Stakeholders" model="Model">
</div>
