﻿@model Services.ViewModels.ScenarioGeneralViewModel;
@using Domain.Enums;

@*<h2>Scenario Informations</h2>*@


<input asp-for="Id" type="hidden" />
<input asp-for="HasError" type="hidden" />



<div class="form-row">

    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="@Model.Status" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Origin of the Scenario"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Status do Cenário"></i>
        <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control" placeholder="Status of the Scenario"></select>
        <span asp-validation-for="@Model.Status" class="text-danger"></span>
    </div>

    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="@Model.ScenarioOrigin" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Origin of the Scenario"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Origem do Cenário"></i>
        <select asp-for="@Model.ScenarioOrigin" asp-items="Html.GetEnumSelectList<ScenarioOrigin>()" class="form-control" placeholder="Origin of the Scenario"></select>
        <span asp-validation-for="@Model.ScenarioOrigin" class="text-danger"></span>
    </div>

    <div id="replace-dd-interview" class="form-group col-md-3 col-sm-12">

        <partial name="../Interview/DropdownInterview" model="Model">

    </div>

    <div class="form-group form-row col-md-3 col-sm-12">
        <div id="replace-dd-company" class="form-group col-md-10">

            <partial name="../Company/DropdownCompany" model="Model">

        </div>
        <div class="form-group col-md-2">
            @if (!Model.IsDetails)
            {
                <a id="create-company" class="btn btn-info conflict-btn-add"><i class="fa fa-plus"></i></a>
            }
        </div>
    </div>

    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="@Model.Origin" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Origin of the Scenario"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Economica, Ex: Relacionada a conflitos devido a escassez de recursos;
           Valor, Ex: Conflito entre ideais, princípios e preferências;
           Poder, Ex: Hierarquia no trabalho;"></i>
        <select asp-for="@Model.Origin" asp-items="Html.GetEnumSelectList<Origin>()" class="form-control" placeholder=""></select>
        <span asp-validation-for="@Model.Origin" class="text-danger"></span>
    </div>
    <div class="form-group col-md-3 col-sm-12">
        <label asp-for="@Model.Level" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Origin of the Scenario"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Individual (Entre duas pessoas);
           Entre grupos (Entre dois grupos de uma mesma empresa, Ex: dois departamentos);
           Entre empresas (Entre uma ou mais empresas);
           Entre culturas (Entre diferentes países);"></i>
        <select asp-for="@Model.Level" asp-items="Html.GetEnumSelectList<Level>()" class="form-control" placeholder=""></select>
        <span asp-validation-for="@Model.Level" class="text-danger"></span>
    </div>
</div>


<div id="transcription-row" class="form-row" style="display:none">
    <div class="form-group col-md-7 col-sm-12">
        <input asp-for="@Model.TranscriptionPath" type="hidden" />

        <label asp-for="@Model.TranscriptionFile" class="control-label"></label>
        @if (Model.TranscriptionPath != null && Model.TranscriptionPath != "")
        {
            <label class="text-danger">Já existe um arquivo salvo</label>
        }
        <input asp-for="@Model.TranscriptionFile" class="form-control-file" />
        <span asp-validation-for="@Model.TranscriptionFile" class="text-danger"></span>

    </div>
    <div class="form-group col-md-5 col-sm-12">
        @if (Model.TranscriptionPath != null && Model.TranscriptionPath != "")
        {
            <a asp-action="DownloadFile" asp-controller="Scenario" asp-route-id="@Model.Id" class="btn btn-info">Baixar Transcrição</a>
        }
    </div>


    <div class="form-group col-md-7 col-sm-12">
        <input asp-for="@Model.AudioPath" type="hidden" />

        <label asp-for="@Model.AudioFile" class="control-label"></label>
        @if (Model.AudioPath != null && Model.AudioPath != "")
        {
            <label class="text-danger">Já existe um arquivo salvo</label>
        }
        <input asp-for="@Model.AudioFile" class="form-control-file" />
        <span asp-validation-for="@Model.AudioFile" class="text-danger"></span>

    </div>
    <div class="form-group col-md-5 col-sm-12">
        @if (Model.AudioPath != null && Model.AudioPath != "")
        {
            <a asp-action="DownloadAudioFile" asp-controller="Scenario" asp-route-id="@Model.Id" class="btn btn-info">Baixar Áudio</a>
        }
    </div>
</div>

<div class="form-row">
    <div class="form-group col-md-12 col-sm-12">
        <label asp-for="@Model.Summary" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Scenario Description"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Resumo do Cénario"></i>
        @*<textarea asp-for="@Model.Summary" class="form-control" placeholder="Summary" rows="7" cols="40"></textarea>*@
        <textarea asp-for="@Model.Summary" class="form-control" placeholder="Resumo do Cenário" rows="4" cols="40"></textarea>
        <span asp-validation-for="@Model.Summary" class="text-danger"></span>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12 col-sm-12">
        <label asp-for="@Model.ProblemSummary" class="control-label"></label>
        @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Problem Description"></i>*@
        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Resumo do Problema"></i>
        @*<textarea asp-for="@Model.ProblemSummary" class="form-control" placeholder="Problem Summary" rows="7" cols="40"></textarea>*@
        <textarea asp-for="@Model.ProblemSummary" class="form-control" placeholder="Descrição do Problema" rows="7" cols="40"></textarea>
        <span asp-validation-for="@Model.ProblemSummary" class="text-danger"></span>
    </div>
</div>

@*<div class="form-row">

        <div id="replace-dd-company" class="form-group col-md-5 col-sm-12">

            <partial name="../Company/DropdownCompany" model="Model">

        </div>
        <div class="form-group col-md-1 col-sm-12">
            @if (!Model.IsDetails)
            {
                <a id="create-company" class="btn btn-primary conflict-btn-add"><i class="fa fa-plus"></i></a>
            }
        </div>
    </div>*@
@*-----------------------------------------------*@


