﻿@model Services.ViewModels.ScenarioConflictJourneyViewModel;
@using Domain.Enums;

<div class="row" style="text-align:center; margin-top: 30px;">
    <div class="col-md-4 col-sm-4">
        @*<h3>Stakeholder 1</h3>*@
    </div>
    <div class="col-md-4 col-sm-4">
        <h3>Jornada do Conflito</h3>
    </div>
    <div class="col-md-4 col-sm-4">
        @*<h3>Stakeholder 2</h3>*@

    </div>

</div>


<div class="card card bg-white mb-3">
    <div class="card-body">
        <div class="row" style="text-align:center">
            <div class="col-md-3 col-sm-3">
                @*<div class="row">
            <div class="col-md-12">
                <label class="control-label control-label-size font-weight-bold">Tipo</label>
                <div id="type-stakeholder-journey-1" style="margin-bottom: 7px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label control-label-size font-weight-bold">Personalidade</label>
                <div id="stakeholder-journey-1"></div>
            </div>
        </div>*@
                <label class="control-label control-label-size font-weight-bold">Descrição do Stakeholder/Parte 1</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Descreva o Stakeholder ou a Parte(Grupo/Empresa) 1 envolvida no conflito"></i>
                <input asp-for="@Model.DescriptionStakeholder1" class="form-control" placeholder="Descrição" />
                <span asp-validation-for="@Model.DescriptionStakeholder1" class="text-danger"></span>

            </div>

            <div class="col-md-6 col-sm-6">
                <label class="control-label control-label-size font-weight-bold">1ª - Contexto</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual foi o contexto que o conflito ocorreu?"></i>
                <textarea asp-for="Context.Stage" class="form-control" rows="2" cols="40"></textarea>

            </div>

            <div class="col-md-3 col-sm-3">
                @*<div class="row">
            <div class="col-md-12">
                <label class="control-label control-label-size font-weight-bold">Tipo</label>
                <div id="type-stakeholder-journey-2" style="margin-bottom: 7px;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label control-label-size font-weight-bold">Personalidade</label>
                <div id="stakeholder-journey-2"></div>
            </div>
        </div>*@
                <label class="control-label control-label-size font-weight-bold">Descrição do Stakeholder/Parte 2</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Descreva o Stakeholder ou a Parte(Grupo/Empresa) 2 envolvida no conflito"></i>
                <input asp-for="@Model.DescriptionStakeholder2" class="form-control" placeholder="Descrição" />
                <span asp-validation-for="@Model.DescriptionStakeholder2" class="text-danger"></span>
            </div>

        </div>
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="row" style="text-align:center">
            <div class="col-md-3 col-sm-3">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Sentimento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 1 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Perception.FeelingStakeholder1" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Comportamento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 1 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Perception.BehaviorStakeholder1" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="col-md-6 col-sm-6">
                <label class="control-label control-label-size font-weight-bold">2ª - Percepção</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Como o conflito foi percebido?"></i>
                <textarea asp-for="Perception.Stage" class="form-control" rows="2" cols="50"></textarea>

            </div>

            <div class="col-md-3 col-sm-3">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Sentimento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Perception.FeelingStakeholder2" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Comportamento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Perception.BehaviorStakeholder2" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div id="replace-evolution">
    <partial name="_Evolution" model="Model">
</div>


<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="row" style="text-align:center">
            <div class="col-md-3 col-sm-3">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Sentimento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 1 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Climax.FeelingStakeholder1" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Comportamento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 1 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Climax.BehaviorStakeholder1" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="col-md-6 col-sm-6">
                <label class="control-label control-label-size font-weight-bold">4ª - Climax</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual foi o ponto mais alto de tensão?"></i>
                <textarea asp-for="Climax.Stage" class="form-control" rows="2" cols="40"></textarea>

            </div>

            <div class="col-md-3 col-sm-3">
                <div class="row">

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Sentimento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o sentimento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Climax.FeelingStakeholder2" asp-items="Html.GetEnumSelectList<Feelings>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <label class="control-label control-label-size">Comportamento</label>
                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Qual o comportamento do stakeholder 2 nessa etapa da jornada do conflito?"></i>
                        <select asp-for="Climax.BehaviorStakeholder2" asp-items="Html.GetEnumSelectList<Behavior>()" class="form-control form-control-font-size"></select>
                        <span class="text-danger"></span>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="card card bg-white mb-3">
    <div class="card-body">
        <div class="row" style="text-align:center">
            <div class="col-md-3 col-sm-3">


            </div>

            <div class="col-md-6 col-sm-6">
                <label class="control-label control-label-size font-weight-bold">5ª - Detalhamento da Administração do Conflito</label>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Como foi administrado o conflito?"></i>
                <textarea asp-for="Administration.Stage" class="form-control" rows="2" cols="40"></textarea>

            </div>

            <div class="col-md-3 col-sm-3">


            </div>

        </div>
    </div>
</div>

<div class="card bg-light mb-3">
    <div class="card-body">
        <div class="row" style="text-align:center">
            <div class="col-md-3 col-sm-3">


            </div>

            <div class="col-md-6 col-sm-6">
                @*-----------------------------------------------*@
                <div class="row">

                    <div id="replace-dd-effect-consequence" class="form-group col-md-11 col-sm-12">

                        <partial name="../EffectConsequence/DropdownEffectConsequence" model="Model">

                    </div>
                    <div class="form-group col-md-1 col-sm-12">
                        @if (!Model.IsDetails)
                        {
                            <a id="create-effect-consequence" class="btn btn-info conflict-btn-add" style="position: absolute; bottom: 0;"><i class="fa fa-plus"></i></a>
                        }
                    </div>
                </div>
                @*-----------------------------------------------*@

            </div>

            <div class="col-md-3 col-sm-3">


            </div>

        </div>
    </div>
</div>

<style>
    .form-control-font-size {
        font-size: 0.8rem !important;
        padding: 0.375rem 0.5rem;
    }

    .control-label-size {
        font-size: smaller;
    }
</style>