﻿@model ScenarioStakeholdersViewModel
@using Domain.Enums;

@for (int i = 0; i < Model.Stakeholders.Count(); i++)
{

    <div class="form-row">
        <div class="col-4">
            <h5>Stakeholder/Parte - @(i + 1)</h5>
            <h5 id="description-stakeholder-@(i+1)"></h5>
        </div>
    </div>

    <div class="form-row">

        @if (!Model.IsDetails)
        {
            @if (i > 1)
            {
                <div class="form-group col-md-4 col-sm-12">
                    @*<a id="remove-stakeholder" class="btn btn-danger" data-index="@i">Remove Stakeholder</a>*@
                    <div id="remove-stakeholder" type="button" class="btn btn-danger" data-index="@i">Remover Stakeholder/Parte</div>

                </div>
            }
        }
    </div>

    <div class="form-row">
        <div class="form-group col-md-3 col-sm-12 stakeholder-type">
            <label asp-for="@Model.Stakeholders[i].Type" class="control-label"></label>
            @*<select asp-for="@Model.Stakeholders[i].Type" asp-items="Html.GetEnumSelectList<StakeholderType>()" class="form-control" placeholder="Stakeholder Type"></select>*@
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Tipo do Stakeholder"></i>
            <select asp-for="@Model.Stakeholders[i].Type" asp-items="Html.GetEnumSelectList<StakeholderType>()" class="form-control" placeholder="Tipo de Stakeholder"></select>

            <span asp-validation-for="@Model.Stakeholders[i].Type" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3 col-sm-12 stakeholder-description">
            <label asp-for="@Model.Stakeholders[i].Description" class="control-label"></label>
            @*<input asp-for="@Model.Stakeholders[i].Name" class="form-control" placeholder="Name">*@
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Normal: se comporta normalmente e de maneira cooperativa;
               Sabe tudo: detém 98% do conhecimento e não dá atenção a ideias inferiores;
               Talvez: não consegue tomar decisões;
               Chorão: mergulha de cabeça nos problemas e reclama incessantemente;
               Calado: é indiferente, não transparece o que se passa na sua cabeça;
               Granada: apresenta acessos de raiva e fúria desproporcionais às circustâncias;"></i>
            <select asp-for="@Model.Stakeholders[i].Description" asp-items="Html.GetEnumSelectList<StakeholderPersonality>()" class="form-control"></select>
            <span asp-validation-for="@Model.Stakeholders[i].Description" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3 col-sm-12">
            <label asp-for="@Model.RelatorIndex" class="control-label"></label>
            <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Marque o checkbox caso esse(a) stakeholder/parte tenha relatado o cenário"></i>
            @if (Model.RelatorIndex.FirstOrDefault() != null && Model.RelatorIndex.FirstOrDefault() == i)
            {
                <input class="relator-index form-check" type="checkbox" name="RelatorIndex" value="@i" checked />
            }
            else
            {
                <input class="relator-index form-check" type="checkbox" name="RelatorIndex" value="@i" />
            }
        </div>

        @if (!Model.IsDetails && i == 0)
        {
                <div class="form-group col-md-3 col-sm-12" style="margin-top: 30px;">

                    @*<a id="add-stakeholder" class="btn btn-primary">Add Stakeholder</a>*@
                    <div id="add-stakeholder" type="button" class="btn btn-info">Adicionar Stakeholder/Parte</div>
                </div>
        }
    </div>

    @*<div class="form-row">
        </div>*@

    //empathyMap

    <div class="card">
        <div class="card-header">
            Mapa de Empatia
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="margin-bottom: 20px;">
                    *Observação: Separar itens de cada campo com ";"
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Think.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Think.Id" type="hidden" />


                    @*<label class="control-label">Think</label>
                        <input asp-for="@Model.Stakeholders[i].Think.Description" class="form-control" placeholder="Think">*@
                    <label class="control-label">O que Pensa?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Think.Description" rows="4" cols="20" class="form-control" placeholder="O que Pensa?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Think.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].See.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].See.Id" type="hidden" />


                    @*<label class="control-label">See</label>
                        <input asp-for="@Model.Stakeholders[i].See.Description" class="form-control" placeholder="See">*@
                    <label class="control-label">O que Vê?</label>
                    <textarea asp-for="@Model.Stakeholders[i].See.Description" rows="4" cols="20" class="form-control" placeholder="O que Vê?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].See.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Do.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Do.Id" type="hidden" />


                    @*<label class="control-label">Do</label>
                        <input asp-for="@Model.Stakeholders[i].Do.Description" class="form-control" placeholder="Do">*@
                    <label class="control-label">O que Faz?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Do.Description" rows="4" cols="20" class="form-control" placeholder="O que Faz?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Do.Description" class="text-danger"></span>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Speak.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Speak.Id" type="hidden" />


                    @*<label class="control-label">Speak</label>
                        <input asp-for="@Model.Stakeholders[i].Speak.Description" class="form-control" placeholder="Speak">*@
                    <label class="control-label">O que Fala?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Speak.Description" rows="4" cols="20" class="form-control" placeholder="O que Fala?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Speak.Description" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Listen.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Listen.Id" type="hidden" />


                    @*<label class="control-label">Listen</label>
                        <input asp-for="@Model.Stakeholders[i].Listen.Description" class="form-control" placeholder="Listen">*@
                    <label class="control-label">O que Escuta?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Listen.Description" rows="4" cols="20" class="form-control" placeholder="O que Escuta?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Listen.Description" class="text-danger"></span>
                </div>

                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Pain.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Pain.Id" type="hidden" />


                    @*<label class="control-label">Pain</label>
                        <input asp-for="@Model.Stakeholders[i].Pain.Description" class="form-control" placeholder="Pain">*@
                    <label class="control-label">Quais as suas Dores?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Pain.Description" rows="4" cols="20" class="form-control" placeholder="Quais as suas Dores?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Pain.Description" class="text-danger"></span>
                </div>

            </div>

            <div class="form-row">
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Feel.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Feel.Id" type="hidden" />


                    @*<label class="control-label">Pain</label>
                        <input asp-for="@Model.Stakeholders[i].Pain.Description" class="form-control" placeholder="Pain">*@
                    <label class="control-label">O que Sente?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Feel.Description" rows="4" cols="20" class="form-control" placeholder="O que Sente?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Feel.Description" class="text-danger"></span>
                </div>
                @if (!Model.IsDetails)
                {
                    <div class="form-row col-md-4">

                        <div class="form-group col-md-12 col-sm-12">
                            <label class="control-label"></label>
                            <div id="emotional-tree" type="button" class="btn btn-info" style="margin-top: 30px;">Exibir Árvore de Sentimentos</div>
                        </div>

                    </div>
                }
                <div class="form-group col-md-4 col-sm-12">
                    <input asp-for="@Model.Stakeholders[i].Need.EmpathyMapType" type="hidden" />
                    <input asp-for="@Model.Stakeholders[i].Need.Id" type="hidden" />


                    @*<label class="control-label">Need</label>
                        <input asp-for="@Model.Stakeholders[i].Need.Description" class="form-control" placeholder="Need">*@
                    <label class="control-label">Quais as suas Necessidades?</label>
                    <textarea asp-for="@Model.Stakeholders[i].Need.Description" rows="4" cols="20" class="form-control" placeholder="Quais as suas Necessidades?"></textarea>
                    <span asp-validation-for="@Model.Stakeholders[i].Need.Description" class="text-danger"></span>
                </div>
            </div>






        </div>

    </div>


}
