﻿@model Services.ViewModels.ScenarioViewModel;
@using Domain.Enums;

<input id="save-return" style="display:none;" value="false" />

<div id="smartwizard" class="sw-main sw-theme-dots">
    <ul class="nav nav-tabs step-anchor justify-content-center">
        @*<li class="nav-item active"><a href="#step-1" class="nav-link" style="">General<br><small>General Description</small></a></li>
            <li class="nav-item"><a href="#step-3" class="nav-link" style="">Stakeholders<br><small>Stakeholders</small></a></li>
            <li class="nav-item"><a href="#step-4" class="nav-link">Conflict<br><small>Conflict</small></a></li>*@
        <li class="nav-item active"><a href="#step-1" class="nav-link" style="">Informações Gerais</a></li>
        <li class="nav-item"><a href="#step-2" class="nav-link">Jornada do Conflito</a></li>
        <li class="nav-item"><a href="#step-3" class="nav-link" style="">Mapa de Empatia</a></li>
        <li class="nav-item"><a href="#step-4" class="nav-link">Classificação</a></li>
    </ul>

    <div class="sw-container tab-content" @*style="min-height: 166px;"*@>
        <div id="step-1" class="tab-pane step-content" style="display: block;">
            <form id="form1" asp-controller="Scenario" asp-action="CreateGeneral" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div id="create-general-replace">
                    <partial name="_FormControlGeneral" model="Model.ScenarioGeneralViewModel">
                </div>
            </form>
        </div>
        <div id="step-2" class="tab-pane step-content">
            <form id="form2" asp-controller="Scenario" asp-action="CreateConflictJourney" method="post" class="form-horizontal" role="form" autocomplete="off">
                <div id="create-conflict-journey-replace">
                    <partial name="_FormControlConflictJourney" model="Model.ScenarioConflictJourneyViewModel">
                </div>
            </form>
        </div>
        <div id="step-3" class="tab-pane step-content" style="display: none;">
            <form id="form3" asp-controller="Scenario" asp-action="CreateStakeholders" method="post" class="form-horizontal" role="form" autocomplete="off">
                <div id="create-stakeholders-replace">

                    <partial name="_FormControlStakeholders" model="Model.ScenarioStakeholdersViewModel">
                </div>
            </form>
        </div>
        <div id="step-4" class="tab-pane step-content">
            <form id="form4" asp-controller="Scenario" asp-action="CreateConflict" method="post" class="form-horizontal" role="form" autocomplete="off">
                <div id="create-conflict-replace">
                    <partial name="_FormControlConflict" model="Model.ScenarioConflictViewModel">
                </div>
            </form>
        </div>
    </div>
</div>

<partial name="GenericModal">
    <partial name="_EmotionModal">
        <partial name="_ModalMessage">



            @section Scripts{

                <script type="text/javascript">


            function initializeSelect2() {

                $("#ConflictTypeIds, #SEPhaseIds, #SeverityId , #ManageConflictIds, #EffectConsequenceIds, #CompanyId, #InterviewId").each(function(){

                    $(this).select2({ placeholder: "Procurar..." });

                });
            }

            function verifyScenarioOrigin() {
                if ($('#ScenarioOrigin').val() != @((int)ScenarioOrigin.Interview)) {
                    $('#replace-dd-interview').css('display','none');
                    $('#transcription-row').css('display','none');
                } else {
                    $('#replace-dd-interview').show();
                    $('#transcription-row').show();
                }
            }


            function mandatory(id) {

                if (id != null) {

                    $(id).find('[data-val-required]').each(function () {
                        var req = $(this).attr('data-val-required');
                        if (undefined != req) {
                            var label = $('label[for="' + $(this).prop('id') + '"]');
                            var text = label.text();
                            if (text.length > 0) {
                                label.append('<span style="color:red"> *</span>');
                            }
                        }
                    });
                } else {
                    $('[data-val-required]').each(function () {
                        var req = $(this).attr('data-val-required');
                        if (undefined != req) {
                            var label = $('label[for="' + $(this).prop('id') + '"]');
                            var text = label.text();
                            if (text.length > 0) {
                                label.append('<span style="color:red"> *</span>');
                            }
                        }
                    });
                }
            }

            $(document).ready(function () {


                initializeWizard();


                initializeSelect2();

                loadStakeholders();

                mandatory();

                //$('[data-toggle="tooltip"]').tooltip({
                //    trigger: 'click'
                //});



                $(document).on('click', '#create-conflict-type', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","ConflictType")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-conflict-type');
                            $('#generic-modal-title').text('Criar novo Tipo de Conflito');
                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-se-phase', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","SEPhase")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-se-phase');
                            $('#generic-modal-title').text('Criar nova Fase de Engenharia de Software');

                            $('#generic-modal').modal('show');
                        }
                    });
                });



                $(document).on('click', '#create-severity', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Severity")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-severity');
                            $('#generic-modal-title').text('Criar novo Grau de Severidade');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-manage-conflict', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","ManageConflict")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-manage-conflict');
                            $('#generic-modal-title').text('Criar nova Administração de Conflito');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-effect-consequence', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","EffectConsequence")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-effect-consequence');
                            $('#generic-modal-title').text('Criar novo Efeito e Consequência');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-company', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Company")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-company');
                            $('#generic-modal-title').text('Criar novo Perfil de Empresa');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-interview', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Interview")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-interview');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#save', function (event) {
                    event.preventDefault();
                    var $form = $('#generic-modal-replace-body').find('form');

                    $.ajax({
                        type: 'POST',
                        url: $form.prop('action'),
                        data: $form.serialize()
                    }).done(function (data) {
                            var idReplace = $('#generic-modal-replace-body').data('id-replace');

                            $('#' + idReplace).html(data);
                            $('#' + idReplace).find('.dropdown-select2').select2({
                                placeholder: "Procurar..."
                            });
                            $('#generic-modal').modal('hide');
                    }).fail(function (data) {
                        $('#generic-modal-replace-body').html(data.responseText);


                        });
                });

                $(document).on('click', '#add-stakeholder', function (e) {
                    var form = $('#form3');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AddStakeholder","Scenario")',
                        data: form.serialize()
                    }).done(function (data) {

                        $('#replace-stakeholder').html(data);
                        loadStakeholders();
                        var form = $("#form3");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);

                    }).fail(function (data) {



                    });
                });


                 $(document).on('click', '#remove-stakeholder', function (e) {
                     var form = $('#form3');
                     var index = $(e.target).data('index');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveStakeholder","Scenario")',
                        data: form.serialize() + '&ind=' + index
                    }).done(function (data) {

                        $('#replace-stakeholder').html(data);
                        loadStakeholders();
                        var form = $("#form3");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);

                    }).fail(function (data) {



                    });
                 });

                 $(document).on('change', '.emotion', function (e) {
                     var form = $('#form3');
                     var index = $(e.target).data('index');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ChangeEmotion","Scenario")',
                        data: form.serialize() + '&ind=' + index
                    }).done(function (data) {

                        $('#feelings').html(data);
                        var form = $("#form3");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);

                    }).fail(function (data) {



                    });
                 });

                verifyScenarioOrigin();

                $(document).on('change', '#ScenarioOrigin', function () {
                    if ($('#ScenarioOrigin').val() != @((int)ScenarioOrigin.Interview)) {
                        $('#replace-dd-interview').css('display','none');
                        $('#transcription-row').css('display','none');
                    } else {
                        $('#replace-dd-interview').show();
                        $('#transcription-row').show();

                    }
                });

                $(document).on('change', '.relator-index', function () {

                    if (!$(this).prop('checked')) {

                        $(this).prop('checked', false);

                    } else {

                        $(".relator-index").prop('checked', false);
                        $(this).prop('checked', true);

                    }


                });

                function loadStakeholders() {
                    if ($('#DescriptionStakeholder1').val() != '') {
                        $('#description-stakeholder-1').text('Descrição: ' + $('#DescriptionStakeholder1').val());
                    } else {
                        $('#description-stakeholder-1').hide();
                    }

                    if ($('#DescriptionStakeholder2').val() != '') {
                        $('#description-stakeholder-2').text('Descrição: ' + $('#DescriptionStakeholder2').val());
                    } else {
                        $('#description-stakeholder-2').hide();
                    }

                    if ($('#Level').val() != @((int)Level.Individual)) {
                        $('.stakeholder-type').hide();
                        $('.stakeholder-description').hide();
                    } else {
                        $('.stakeholder-type').show();
                        $('.stakeholder-description').show();
                    }
                }

                $("#smartwizard").on("leaveStep", function(e, anchorObject, stepNumber, stepDirection) {

                    if (stepDirection == 'backward') {
                        return true;
                    }

                    loadStakeholders();

                    if (stepNumber == 0) {

                        var noError = true;

                        $('#form1').validate();

                        if ($('#form1').valid()) {

                            var form = $('#form1')[0];

                            var formData = new FormData(form);

                            for (var i = 0; i < $("#TranscriptionFile")[0].files.length; i++) {
                                var file = $("#TranscriptionFile")[0].files[i];

                                formData.append("files", file);
                            }


                            $.ajax({
                                type: 'POST',
                                processData: false,
                                contentType: false,
                                url: '@Url.Action("CreateGeneral","Scenario")',
                                data: formData,
                                async: false
                            }).done(function (data) {
                                $('#create-general-replace').html(data);
                                verifyScenarioOrigin();
                                mandatory('#create-general-replace');
                                if ($('#HasError').val() == 'True') {
                                    noError = false;
                                    return false;
                                }

                                //verify if save and finsh was clicked
                                if (noError && $('#save-return').val() == 'true') {
                                    window.location.href = '@Url.Action("Index","Scenario")';
                                    noError = false;
                                    return false;
                                }

                            }).fail(function (data) {

                                $('#create-general-replace').html(data);
                                mandatory('#create-general-replace');
                                verifyScenarioOrigin();
                                noError = false;

                                return false;

                            });

                        } else {
                            return false;
                        }



                        return noError;

                    }else if (stepNumber == 1) {

                        var noError = true;

                        $('#form2').validate();

                        if ($('#form2').valid()) {

                            var form = $('#form2');

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CreateConflictJourney","Scenario")',
                                data: form.serialize() + '&Id=' + $('#Id').val(),
                                async: false
                            }).done(function (data) {

                                $('#create-conflict-journey-replace').html(data);
                                mandatory('#create-conflict-journey-replace');

                                initializeSelect2();


                                if ($('#HasErrorConflict').val() == 'True') {
                                    noError = false;

                                    return false;
                                }

                                //verify if save and finsh was clicked
                                if (noError && $('#save-return').val() == 'true') {
                                    window.location.href = '@Url.Action("Index","Scenario")';
                                    noError = false;
                                    return false;
                                }


                            }).fail(function (data) {

                                $('#create-conflict-journey-replace').html(data);
                                mandatory('#create-conflict-journey-replace');
                                initializeSelect2();
                                noError = false;


                                return false;

                            });

                        } else {
                            return false;
                        }

                        if (noError && $('#save-return').val() == 'true') {
                            window.location.href = '@Url.Action("Index","Scenario")';
                        }

                        return noError;
                    }else if (stepNumber == 2) {

                        var noError = true;

                        $('#form3').validate();

                        if ($('#form3').valid()) {

                            var form = $('#form3');

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CreateStakeholders","Scenario")',
                                data: form.serialize() + '&Id=' + $('#Id').val(),
                                async: false
                            }).done(function (data) {

                                $('#create-stakeholders-replace').html(data);
                                mandatory('#create-stakeholders-replace');
                                if ($('#HasErrorStakeholders').val() == 'True') {
                                    noError = false;
                                    return false;
                                }

                                //verify if save and finsh was clicked
                                if (noError && $('#save-return').val() == 'true') {
                                    window.location.href = '@Url.Action("Index","Scenario")';
                                    noError = false;
                                    return false;
                                }


                            }).fail(function (data) {

                                $('#create-stakeholders-replace').html(data);
                                mandatory('#create-stakeholders-replace');
                                noError = false;

                                return false;

                            });

                        } else {
                            return false;
                        }

                        if (noError && $('#save-return').val() == 'true') {
                            window.location.href = '@Url.Action("Index","Scenario")';
                        }

                        return noError;

                    } else if (stepNumber == 3) {

                        var noError = true;

                        $('#form4').validate();

                        if ($('#form4').valid()) {

                            var form = $('#form4');

                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("CreateConflict","Scenario")',
                                data: form.serialize() + '&Id=' + $('#Id').val(),
                                async: false
                            }).done(function (data) {

                                $('#create-conflict-replace').html(data);
                                mandatory('#create-conflict-replace');

                                initializeSelect2();


                                if ($('#HasErrorConflict').val() == 'True') {
                                    noError = false;

                                    return false;
                                }

                                //verify if save and finsh was clicked
                                if (noError && $('#save-return').val() == 'true') {
                                    window.location.href = '@Url.Action("Index","Scenario")';
                                    noError = false;
                                    return false;
                                }


                            }).fail(function (data) {

                                $('#create-conflict-replace').html(data);
                                mandatory('#create-conflict-replace');
                                initializeSelect2();
                                noError = false;


                                return false;

                            });

                        } else {
                            return false;
                        }

                        if (noError && $('#save-return').val() == 'true') {
                            window.location.href = '@Url.Action("Index","Scenario")';
                        }

                        return noError;

                    }

                });



                $(document).on('click', '#emotional-tree', function () {

                    $('#emotion-modal').modal('show');

                });

                $(document).on('change', '#emotion', function () {
                    var option = $(this).val();

                    $('#image-tree-information').show();

                    switch (option) {
                        case '1':
                            $('#image-tree').attr('src', '/Image/arvore-felicidade.jpg');
                            break;
                        case '2':
                            $('#image-tree').attr('src', '/Image/arvore-tristeza.jpg');
                            break;

                        case '3':
                            $('#image-tree').attr('src', '/Image/arvore-raiva.jpg');
                            break;

                        case '4':
                            $('#image-tree').attr('src', '/Image/arvore-medo.jpg');
                            break;

                        default:
                            $('#image-tree').attr('src', '');
                            break;

                    }
                });


                $(document).on('click', '#add-evolution', function (e) {
                    var form = $('#form2');

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AddEvolution","Scenario")',
                        data: form.serialize()
                    }).done(function (data) {

                        $('#replace-evolution').html(data);

                        var form = $("#form2");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);

                    }).fail(function (data) {



                    });
                });


                 $(document).on('click', '#remove-evolution', function (e) {
                     var form = $('#form2');
                     var index = $(e.target).data('index');
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("RemoveEvolution","Scenario")',
                        data: form.serialize() + '&ind=' + index
                    }).done(function (data) {

                        $('#replace-evolution').html(data);
                        var form = $("#form2");
                        form.removeData('validator');
                        form.removeData('unobtrusiveValidation');
                        $.validator.unobtrusive.parse(form);

                    }).fail(function (data) {



                    });
                 });

            });
                </script>

            }
