﻿@model Services.ViewModels.ScenarioViewModel;


<div id="smartwizard" class="sw-main sw-theme-dots">
    <ul class="nav nav-tabs step-anchor justify-content-center">
        @*<li class="nav-item active"><a href="#step-1" class="nav-link" style="">General<br><small>General Description</small></a></li>
        <li class="nav-item"><a href="#step-2" class="nav-link" style="">Stakeholders<br><small>Stakeholders</small></a></li>
        <li class="nav-item"><a href="#step-3" class="nav-link">Conflict<br><small>Conflict</small></a></li>*@
        <li class="nav-item active"><a href="#step-1" class="nav-link" style="">Informações Gerais</a></li>
        <li class="nav-item"><a href="#step-2" class="nav-link">Jornada do Conflito</a></li>
        <li class="nav-item"><a href="#step-3" class="nav-link" style="">Mapa de Empatia</a></li>
        <li class="nav-item"><a href="#step-4" class="nav-link">Classificação</a></li>

    </ul>

    <div class="sw-container tab-content" style="min-height: 166px;">
        <div id="step-1" class="tab-pane step-content" style="display: block;">
            <partial name="_FormControlGeneral" model="Model.ScenarioGeneralViewModel">
        </div>
        <div id="step-2" class="tab-pane step-content">
            <partial name="_FormControlConflictJourney" model="Model.ScenarioConflictJourneyViewModel">
        </div>
        <div id="step-3" class="tab-pane step-content" style="display: none;">
            <partial name="_FormControlStakeholders" model="Model.ScenarioStakeholdersViewModel">
        </div>
        <div id="step-4" class="tab-pane step-content">
            <partial name="_FormControlConflict" model="Model.ScenarioConflictViewModel">
        </div>
    </div>
    @*<div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
        <div class="btn-group mr-2 sw-btn-group" role="group">
            <button class="btn btn-secondary sw-btn-prev disabled" type="button">Previous</button>
            <button class="btn btn-secondary sw-btn-next" type="button">Next</button>
        </div>
        <div class="btn-group mr-2 sw-btn-group-extra" role="group">
            <button class="btn btn-info">Finish</button>
            <button class="btn btn-danger">Cancel</button>
        </div>
    </div>*@
</div>





@*<partial name="FormControl" model="Model">*@

    @section Scripts{

        <script type="text/javascript">
            
            $(document).ready(function () {

                $('#ConflictTypeIds').select2({ disabled: true });

                loadStakeholders();
            }

        </script>

    }
