﻿@model Services.ViewModels.ScenarioViewModel;
@using Domain.Enums;

<form asp-controller="Scenario" asp-action="Edit" method="post" class="form-horizontal" role="form" autocomplete="off">
    <partial name="FormControl" model="Model">
        @*<button class="btn btn-primary">Save</button>
        <a asp-controller="Scenario" asp-action="Index" id="cancel" class="btn btn-secondary">Cancel</a>*@
        <button class="btn btn-primary">Salvar</button>
        <a asp-controller="Scenario" asp-action="Index" id="cancel" class="btn btn-secondary">Cancelar</a>
</form>

<partial name="GenericModal">


    @section Scripts{

        <script type="text/javascript">

            $('#ConflictTypeIds').select2({
                placeholder: "Procurar..."
            });

            $('#SEPhaseIds').select2({
                    placeholder: "Procurar..."
            });

            $('#SeverityId').select2({
                placeholder: "Procurar..."
            });

            $('#ManageConflictIds').select2({
                placeholder: "Procurar..."
            });

            $('#EffectConsequenceIds').select2({
                placeholder: "Procurar..."
            });

            $('#CompanyId').select2({
                placeholder: "Procurar..."
            });

            $('#SeverityId').select2({
                placeholder: "Procurar..."
            });

            $(document).ready(function () {

                $(document).on('click', '#create-conflict-type', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","ConflictType")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-conflict-type');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-se-phase', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","SEPhase")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-se-phase');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-severity', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Severity")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-se-phase');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-company', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Company")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-company');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-manage-conflict', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","ManageConflict")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-manage-conflict');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-effect-consequence', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","EffectConsequence")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-effect-consequence');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-company', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Company")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-company');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#create-interview', function () {
                    $.ajax({
                        cache: false,
                        type: 'GET',
                        url: '@Url.Action("CreateModal","Interview")',
                        success: function (data) {

                            $('#generic-modal-replace-body').html(data);

                            $('#generic-modal-replace-body').data('id-replace', 'replace-dd-se-phase');

                            $('#generic-modal').modal('show');
                        }
                    });
                });

                $(document).on('click', '#save', function (event) {
                    event.preventDefault();
                    var $form = $('#generic-modal-replace-body').find('form');

                    $.ajax({
                        type: 'POST',
                        url: $form.prop('action'),
                        data: $form.serialize()
                    }).done(function (data) {
                            var idReplace = $('#generic-modal-replace-body').data('id-replace');

                            $('#' + idReplace).html(data);
                            $('#' + idReplace).find('.dropdown-select2').select2({
                                placeholder: "Search..."
                            });
                            $('#generic-modal').modal('hide');
                    }).fail(function (data) {
                        $('#generic-modal-replace-body').html(data.responseText);


                        });
                });

                if ($('#ScenarioOrigin').val() != @((int)ScenarioOrigin.Interview)) {
                    $('#replace-dd-interview').hide();
                }

                $(document).on('change', '#ScenarioOrigin', function () {
                    if ($('#ScenarioOrigin').val() != @((int)ScenarioOrigin.Interview)) {
                        $('#replace-dd-interview').hide();
                    } else {
                        $('#replace-dd-interview').show();

                    }
                });

                $(document).on('change', '.relator-index', function () {
                    $(".relator-index").prop('checked',false);
                    $(this).prop('checked',true);
                });


            });
        </script>

    }
