﻿@model ScenarioIndexViewModel;
@using Domain.Enums;

<div class="d-flex justify-content-between bd-highlight mb-3">

    <div class="col-md-4">
        <h4>
            Lista de Cenários
        </h4>
    </div>
    <div class="col-md-5">

    </div>
    <div class="p-1 col-md-3 bd-highlight">
        @*<a asp-controller="Scenario" asp-action="Create" class="btn btn-primary pull-right h2">New Item</a>*@
        <a asp-controller="Scenario" asp-action="Create" class="btn btn-primary pull-right h2">Novo Cenário</a>
    </div>



</div>

<div class="card" style="margin-bottom: 20px;">
    <div class="card-header">
        Procurar Cenário
    </div>
    <div class="card-body">
        <form id="search-form" asp-controller="Scenario" asp-action="CreateConflictJourney" method="post" class="form-horizontal" role="form" autocomplete="off">
            <h5>
            </h5>
            <div class="form-row">

                <div class="form-group col-md-4 col-sm-12">
                    <label asp-for="@Model.Status" class="control-label"></label>
                    @*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Status do Cenário"></i>*@
                    <select asp-for="@Model.Status" asp-items="Html.GetEnumSelectList<Status>()" class="form-control" placeholder="Status of the Scenario">
                        <option value="0">Selecione</option>
                    </select>
                    <span asp-validation-for="@Model.Status" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label asp-for="@Model.SeverityId" class="control-label"></label>

                    <select asp-for="@Model.SeverityId" asp-items="@Model.SeveritySelectList" class="form-control dropdown-select2" searchable="Procurar...">
                        <option value="0">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label asp-for="@Model.ConflictImpact" class="control-label"></label>
                    <select asp-for="@Model.ConflictImpact" asp-items="Html.GetEnumSelectList<ConflictImpact>()" class="form-control" placeholder="">
                        <option value="0">Selecione</option>
                    </select>
                    <span asp-validation-for="@Model.ConflictImpact" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label asp-for="@Model.SEPhaseIds" class="control-label"></label>

                    <select asp-for="@Model.SEPhaseIds" asp-items="@Model.SEPhaseSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
                        <option value="0">Selecione</option>
                    </select>
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label asp-for="@Model.ManageConflictIds" class="control-label"></label>
                    <select asp-for="@Model.ManageConflictIds" asp-items="@Model.ManageConflictSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
                        <option value="0">Selecione</option>
                    </select>
                </div>

                <div class="p-1 col-md-2 bd-highlight" style="margin-bottom: 1rem;">
                    <a href="#" id="search-btn" class="btn btn-primary" style="position: absolute;bottom: 0;">Procurar</a>
                </div>



            </div>
        </form>
    </div>
</div>





@*<div class="d-flex">
        <div class="p-1 col-md-6 bd-highlight">

            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Search Items">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Procurar Cenário">
                <button class="btn btn-primary" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </div>

        </div>

    </div>*@


<div id="list">
    <partial name="TableList" model="Model">
</div>

<partial name="_ModalDelete">
    <partial name="_ModalDetails">
        <partial name="_ModalMessage">


            @section Scripts{
                <script type="text/javascript">

                    function initializeSelect2() {

                $("#ConflictTypeIds, #SEPhaseIds, #SeverityId , #ManageConflictIds, #EffectConsequenceIds, #CompanyId, #InterviewId").each(function(){

                    $(this).select2({ placeholder: "Procurar..." });

                });
            }

        $(document).ready(function () {
            initializeSelect2();
            $(document).on('click', '#search-btn', function (e) {

                var form = $('#search-form');

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Search","Scenario")',
                    data: form.serialize()
                }).done(function (data) {

                    $('#list').html(data);
                });
            });

            $(document).on('show.bs.modal', '#delete-modal', function (e) {
                var id = $(e.relatedTarget).closest('tr').prop('id');
                $('#confirm-delete').data('id', id);

            });

            $(document).on('click', '#confirm-delete', function () {
                var id = $(this).data('id');
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("Delete","Scenario")/' + id,
                    success: function (data) {
                        $('#delete-modal').modal('hide');
                        $('#list').html(data);
                    }
                });
            });

            $(document).on('click', '#details-button', function () {

                var id = $(this).closest('tr').prop('id');

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("Details","Scenario")/' + id,
                    success: function (data) {
                        $('#modal-replace-body').html(data);
                        $('#modal-replace-body :input').prop('disabled', true);

                        if ($('#DescriptionStakeholder1').val() != '') {
                            $('#description-stakeholder-1').text('Stakeholder - 1 (' + $('#DescriptionStakeholder1').val() + ')');
                        }

                        if ($('#DescriptionStakeholder2').val() != '') {
                            $('#description-stakeholder-2').text('Stakeholder - 2 (' + $('#DescriptionStakeholder2').val() + ')');
                        }


                        $('#details-modal').modal('show');

                        initializeWizard();

                        $('.finish-scenario').remove();

                        $('.sw-btn-next .sw-btn-prev').prop('disabled', false);

                        if ($('#ScenarioOrigin').val() != @((int)ScenarioOrigin.Interview)) {
                            $('#replace-dd-interview').hide();
                        }
                    }
                });

            })


        });
                </script>

            }
