﻿@using Services.Helpers;
@model ScenarioIndexViewModel;

<div class="d-flex justify-content-center">

    <div class="table-responsive col-md-12">
        <table class="table table-striped table-bordered" cellspacing="0" cellpadding="0" style="font-size: smaller;">
            <thead>
                <tr>
                    @*<th>Summary</th>
                        <th>Problem Description</th>
                        <th>Problem Summary</th>*@
                    @*<th>Resumo do Cenário</th>*@
                    <th>Problema</th>
                    <th>Tipo do Conflito</th>
                    <th>Administração de Conflito</th>
                    <th>Fase ES</th>
                    <th>Status</th>


                    <th class="actions" style="width: 145px">Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ScenarioViewModelList != null)
                {

                    @foreach (var item in Model.ScenarioViewModelList)
                    {
                        string conflicts = "";
                        string manageConflict = "";
                        string SEPhase = "";
                        @for (int i = 0; i < item.ScenarioConflictViewModel.ConflictTypeIds.Count(); i++)
                        {
                            var conflictId = item.ScenarioConflictViewModel.ConflictTypeIds.ElementAt(i);
                            conflicts += Model.ConflictTypeList.FirstOrDefault(y => y.Id == conflictId)?.Type;
                            if (i < item.ScenarioConflictViewModel.ConflictTypeIds.Count() - 1)
                            {
                                conflicts += " | ";

                            }
                        }
                        @for (int i = 0; i < item.ScenarioConflictViewModel.ManageConflictIds.Count(); i++)
                        {
                            var manageConflictId = item.ScenarioConflictViewModel.ManageConflictIds.ElementAt(i);
                            manageConflict += Model.ManageConflictList.FirstOrDefault(y => y.Id == manageConflictId)?.Style;
                            if (i < item.ScenarioConflictViewModel.ManageConflictIds.Count() - 1)
                            {
                                manageConflict += " | ";

                            }
                        }
                        @for (int i = 0; i < item.ScenarioConflictViewModel.SEPhaseIds.Count(); i++)
                        {
                            var SEPhaseId = item.ScenarioConflictViewModel.SEPhaseIds.ElementAt(i);
                            SEPhase += Model.SEPhaseList.FirstOrDefault(y => y.Id == SEPhaseId)?.Phase;
                            if (i < item.ScenarioConflictViewModel.SEPhaseIds.Count() - 1)
                            {
                                SEPhase += " | ";

                            }
                        }
                <tr id="@item.Id">

                    @*<td>@item.ScenarioGeneralViewModel.Summary.Substring(0, item.ScenarioGeneralViewModel.Summary.Length >= 30 ? 30 : item.ScenarioGeneralViewModel.Summary.Length)</td>*@
                    <td>@(item.ScenarioGeneralViewModel.ProblemSummary.Substring(0, item.ScenarioGeneralViewModel.ProblemSummary.Length >= 100 ? 100 : item.ScenarioGeneralViewModel.ProblemSummary.Length) + (item.ScenarioGeneralViewModel.ProblemSummary.Length >= 100 ? " ..." : ""))</td>
                    <td>
                        @conflicts@*.Substring(0, item.ScenarioGeneralViewModel.ProblemSummary.Length >= 30 ? 30 : item.ScenarioGeneralViewModel.ProblemSummary.Length)*@
                    </td>
                    <td>
                        @manageConflict
                    </td>
                    <td>@SEPhase</td>
                    <td>@(item.ScenarioGeneralViewModel.Status.HasValue? item.ScenarioGeneralViewModel.Status.Value.GetDescription() : "")</td>
                    <td class="actions">
                        <a href="#" id="details-button" class="btn"><i class="fa fa-search"></i></a>
                        @if (Model.IsAdmin || Model.CurrentUserId == item.ScenarioGeneralViewModel.UserId)
                        {
                            <a asp-controller="Scenario" asp-action="Edit" asp-route-id="@item.Id" class="btn"><i class="fa fa-edit"></i></a>
                            <a href="#" id="remove-button" class="btn" data-toggle="modal" data-target="#delete-modal"><i class="fa fa-trash"></i></a>
                        }
                    </td>

                </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>

@*<nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Próxima</a>
            </li>
        </ul>
    </nav>*@

