﻿@model LoginViewModel;

@{
    //ViewBag.Title = "Login";
    //ViewBag.Title = "Entrar";
    Layout = "~/Views/Login/_Layout.cshtml";
}
<form class="form-signin" asp-controller="Login" asp-action="Login" method="post" role="form" autocomplete="off">
    <div class="row">
        <img src="~/Image/LogoTCC.jpg" style="width:400px; height:200px; margin-top: -100px;" />

    </div>
    @*<h1 class="h3 mb-3 font-weight-normal" style="font-weight: 700!important;font-size: xx-large;font-style: italic;font-family: none;color: #ffffff;">Login</h1>*@
    <div class="form-row">
        <div class="form-group col-12">
            <label asp-for="@Model.Username" class="control-label" style="color: #ffffff; float: left;"></label>
            @*<input asp-for="@Model.Username" class="form-control" placeholder="Username" />*@
            <input asp-for="@Model.Username" class="form-control" placeholder="Usuário" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 ">
            <label asp-for="@Model.Password" class="control-label" style="color: #ffffff; float: left;"></label>
            @*<input asp-for="@Model.Password" class="form-control" type="password" placeholder="Password" />*@
            <input asp-for="@Model.Password" class="form-control" type="password" placeholder="Senha" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row" style="justify-content: center;">
        @*<button class="btn btn-lg btn-primary col-6" type="submit">Login</button>*@
        <button style="margin: 5px;" class="btn btn-primary col-5" type="submit">Entrar</button>
        @*<a asp-action="SignIn" class="btn btn-lg btn-secondary col-6">Create Account</a>*@
        <a asp-action="SignIn" style="margin: 5px;" class="btn btn-secondary col-5">Criar</a>
    </div>
</form>

