﻿@model UserViewModel;

@{
    //ViewBag.Title = "Sing In";
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Login/_Layout.cshtml";
}

<form class="form-signin" asp-controller="Login" asp-action="SignIn" method="post" role="form" autocomplete="off">
    <h1 class="h3 mb-3 font-weight-normal" style="color: #ffffff;">Cadastrar</h1>
    <div class="form-row">
        <div class="form-group col-12">
            <input asp-for="@Model.Username" class="form-control" placeholder="Usuário" />
            <span asp-validation-for="@Model.Username" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 ">
            <input asp-for="@Model.Password" class="form-control" type="password" placeholder="Senha" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 ">
            <input asp-for="@Model.Email" class="form-control" type="email" placeholder="E-mail" />
            @*<span asp-validation-for="@Model.Email" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 ">
            <input asp-for="@Model.ConfirmEmail" class="form-control" type="email" placeholder="Confirme o e-mail" />
            <span asp-validation-for="@Model.ConfirmEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row" style="justify-content: center;">
        <button style="margin: 5px;" class="btn btn-lg btn-primary col-5" type="submit">Cadastrar</button>
        <a asp-action="Login" style="margin: 5px;" class="btn btn-lg btn-secondary col-5">Voltar</a>

    </div>
</form>
