﻿<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/smartwizard/css/smart_wizard_theme_dots.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @*<link href="~/lib/smartwizard/css/smart_wizard.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/smartwizard/css/smart_wizard.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/smartwizard/css/smart_wizard.css" rel="stylesheet" />*@
    @*<link href="~/lib/smartwizard/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" />*@
    @*<link href="~/lib/smartwizard/css/smart_wizard_theme_circles.css" rel="stylesheet" />*@
    @*<link href="~/lib/smartwizard/css/smart_wizard_theme_circles.min.css" rel="stylesheet" />*@

    @RenderSection("Styles", required: false)

</head>

<body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-logo static-top">

        @*<a class="navbar-brand mr-1" href="index.html">Menu</a>*@

        <button class="btn btn-link btn-sm text-white " id="sidebarToggle" href="#">
            <i class="fas fa-2x fa-bars"></i>
        </button>
        <img src="~/Image/logoTCCNoText.jpg" style="width:110px; height:40px;" />


        <!-- Navbar Search -->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            @*<div class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon2">
                    <input type="text" class="form-control" placeholder="Procurar..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>*@
        </form>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0 bg-logo">
            @*<li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <span class="badge badge-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-envelope fa-fw"></i>
                        <span class="badge badge-danger"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>*@
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle fa-fw"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    @*<a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>*@
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
                </div>
            </li>
        </ul>

    </nav>

    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="sidebar navbar-nav bg-logo">

            <li class="nav-item">
                @*<a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>*@
                <a class="nav-link" asp-controller="Home" asp-action="Index">Início</a>
                <hr />
                @*<a class="nav-link" asp-controller="Scenario" asp-action="Index" style="font-size: 1.5rem; ">Scenario</a>*@
                <a class="nav-link" asp-controller="Scenario" asp-action="Index" style="font-size: 1.5rem; ">Cenário</a>
                @*<a class="nav-link" asp-controller="Interview" asp-action="Index" style="font-size: 1.5rem; ">Interview</a>*@
                <a class="nav-link" asp-controller="Interview" asp-action="Index" style="font-size: 1.5rem; ">Entrevista</a>
                <hr />
            </li>
            <li class="nav-item dropdown">
                @*<a class="nav-link" href="#" id="pagesDropdown" role="button">
                        <i class="fas fa-fw fa-folder"></i>
                        <span>Cadastros</span>
                    </a>*@
                <div>

                    @*<a class="nav-link" asp-controller="ConflictType" asp-action="Index">Conflict Type</a>
        <a class="nav-link" asp-controller="Severity" asp-action="Index">Severity</a>
        <a class="nav-link" asp-controller="SEPhase" asp-action="Index">Software Engineer Phase</a>
        <a class="nav-link" asp-controller="ManageConflict" asp-action="Index">Manage Conflict Form</a>
        <a class="nav-link" asp-controller="EffectConsequence" asp-action="Index">Effect Consequence</a>
        <a class="nav-link" asp-controller="Company" asp-action="Index">Company</a>*@

                    <a class="nav-link" asp-controller="ConflictType" asp-action="Index">Tipo de Conflito</a>
                    <a class="nav-link" asp-controller="Severity" asp-action="Index">Grau de Severidade</a>
                    <a class="nav-link" asp-controller="SEPhase" asp-action="Index">Fase da Engenharia de Software</a>
                    <a class="nav-link" asp-controller="ManageConflict" asp-action="Index">Administração de Conflito</a>
                    <a class="nav-link" asp-controller="EffectConsequence" asp-action="Index">Efeitos e Consequências</a>
                    <a class="nav-link" asp-controller="Company" asp-action="Index">Perfil de Empresa</a>

                    <hr />

                    <a class="nav-link" href="#" data-toggle="modal" data-target="#pdf-modal">Guia de Elicitação</a>

                </div>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">

                        <span>Other Menu</span>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="charts.html">
                            <i class="fas fa-fw fa-chart-area"></i>
                            <span>Charts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tables.html">
                            <i class="fas fa-fw fa-table"></i>
                            <span>Tables</span>
                        </a>
                    </li>*@
        </ul>

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a asp-controller="Home" asp-action="Index">Início</a>
                    </li>
                    @if (ViewBag.Title != "Home")
                    {
                        <li class="breadcrumb-item active">@ViewBag.Title</li>

                    }
                </ol>

                @RenderBody()

                <!-- Icon Cards-->
                @*<div class="row">
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-comments"></i>
                                    </div>
                                    <div class="mr-5">26 New Messages!</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-warning o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-battery-full"></i>
                                    </div>
                                    <div class="mr-5">11 New Tasks!</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-success o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-shopping-cart"></i>
                                    </div>
                                    <div class="mr-5">123 New Orders!</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 mb-3">
                            <div class="card text-white bg-danger o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fas fa-fw fa-life-ring"></i>
                                    </div>
                                    <div class="mr-5">13 New Tickets!</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="#">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fas fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>*@


                @*<div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-chart-area"></i>
                            Area Chart Example
                        </div>
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="30"></canvas>
                        </div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>


                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="fas fa-table"></i>
                            Data Table Example
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>*@

            </div>

            <!-- Sticky Footer -->
            @*<footer class="sticky-footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>2019</span>
                        </div>
                    </div>
                </footer>*@

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>*@
                    <h5 class="modal-title" id="exampleModalLabel">Deseja Sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                @*<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>*@
                <div class="modal-body">Selecione "Sair" para encerrar a sessão.</div>
                <div class="modal-footer">
                    @*<a asp-controller="Login" asp-action="Logout" class="btn btn-primary">Logout</a>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>*@
                    <a asp-controller="Login" asp-action="Logout" class="btn btn-primary">Sair</a>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pdf-modal" tabindex="-1" role="dialog" aria-labelledby="pdf-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="height:600px">
                
                <div class="modal-body">
                    <embed src="~/Image/Manual.pdf" type="application/pdf" height="100%" width="100%">
                </div>
               
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="~/lib/smartwizard/js/jquery.smartWizard.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>