﻿<div class="modal fade" id="message-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h4 class="modal-title" id="modalLabel">Message</h4>*@
                <h4 class="modal-title" id="modalLabel">Mensagem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="text-message-modal"></div>
            </div>
            <div class="modal-footer">
                <button id="ok-message-modal" type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>