﻿<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document" style="width: 40%;">
        <div class="modal-content">
            <div class="modal-header">
                @*<h4 class="modal-title" id="modalLabel">Delete Item</h4>*@
                <h4 class="modal-title" id="modalLabel">Deletar Item</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            @*<div class="modal-body">Are you sure you want to delete this item? </div>*@
            <div class="modal-body">Tem certeza que deseja deletar este item? </div>
            <div class="modal-footer">
                @*<a id="confirm-delete" role="button" class="btn btn-primary">Yes</a>*@
                <div id="confirm-delete" type="button" class="btn btn-primary">Sim</div>
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>*@
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>