﻿@model Services.ViewModels.ScenarioConflictViewModel;

<label asp-for="@Model.SEPhaseIds" class="control-label"></label>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the software engineering phase in which the conflict occurred"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha a Fase de Engenharia de Software em que o Conflito ocorreu"></i>

@*<select asp-for="@Model.SEPhaseIds" asp-items="@Model.SEPhaseSelectList" class="form-control dropdown-select2" multiple searchable="Search...">*@
<select asp-for="@Model.SEPhaseIds" asp-items="@Model.SEPhaseSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
</select>

<span asp-validation-for="@Model.SEPhaseIds" class="text-danger"></span>