﻿@model Services.ViewModels.SEPhaseViewModel;

<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.Phase" class="control-label"></label>
        @*<input asp-for="@Model.Phase" class="form-control" placeholder="Phase" />*@
        <input asp-for="@Model.Phase" class="form-control" placeholder="Fase da Engenharia de Software" />
        <span asp-validation-for="@Model.Phase" class="text-danger"></span>
    </div>
</div>



