﻿@model Services.ViewModels.EffectConsequenceViewModel;

<form asp-controller="EffectConsequence" asp-action="Create" method="post" class="form-horizontal" role="form" autocomplete="off">
    <partial name="FormControl" model="Model">
        @*<button id="save" class="btn btn-primary">Save</button>
        <a asp-controller="EffectConsequence" asp-action="Index" id="cancel" class="btn btn-secondary">Cancel</a>*@
        <button id="save" class="btn btn-primary">Salvar</button>
        @if (!Model.FromModal)
        {
            <a asp-controller="EffectConsequence" asp-action="Index" id="cancel" class="btn btn-secondary">Cancelar</a>
        }
</form>
