﻿@model Services.ViewModels.ScenarioConflictJourneyViewModel;

<label class="control-label font-weight-bold">6ª - Efeitos e Consequências</label>
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Quais foram os efeitos e consequências causados pelo conflito?"></i>

@*<select asp-for="@Model.EffectConsequenceIds" asp-items="@Model.EffectConsequenceSelectList" class="form-control dropdown-select2" multiple searchable="Search...">*@
<select asp-for="@Model.EffectConsequenceIds" asp-items="@Model.EffectConsequenceSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
</select>

<span asp-validation-for="@Model.EffectConsequenceIds" class="text-danger"></span>