﻿@model Services.ViewModels.EffectConsequenceViewModel;

<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.EffectAndConsequence" class="control-label"></label>
        @*<input asp-for="@Model.EffectAndConsequence" class="form-control" placeholder="Effect Consequence" />*@
        <input asp-for="@Model.EffectAndConsequence" class="form-control" placeholder="Efeitos e Consequências" />
        <span asp-validation-for="@Model.EffectAndConsequence" class="text-danger"></span>
    </div>
</div>



