﻿@model Services.ViewModels.ScenarioConflictViewModel;

<label asp-for="@Model.ManageConflictIds" class="control-label"></label>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the Conflict Management Style Applied"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha a Administração de Conflito aplicada"></i>

@*<select asp-for="@Model.ManageConflictIds" asp-items="@Model.ManageConflictSelectList" class="form-control dropdown-select2" multiple searchable="Search...">*@
<select asp-for="@Model.ManageConflictIds" asp-items="@Model.ManageConflictSelectList" class="form-control dropdown-select2" multiple searchable="Procurar...">
</select>

<span asp-validation-for="@Model.ManageConflictIds" class="text-danger"></span>