﻿@model Services.ViewModels.ManageConflictViewModel;

<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.Style" class="control-label"></label>
        @*<input asp-for="@Model.Style" class="form-control" placeholder="Form" />*@
        <input asp-for="@Model.Style" class="form-control" placeholder="Administração de Conflito" />
        <span asp-validation-for="@Model.Style" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.Description" class="control-label"></label>
        @*<input asp-for="@Model.Description" class="form-control" placeholder="Form" />*@
        <input asp-for="@Model.Description" class="form-control" placeholder="Descrição" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.Effect" class="control-label"></label>
        @*<input asp-for="@Model.Effect" class="form-control" placeholder="Form" />*@
        <input asp-for="@Model.Effect" class="form-control" placeholder="Efeito" />
        <span asp-validation-for="@Model.Effect" class="text-danger"></span>
    </div>
</div>



