﻿<div class="row">
    <div class="col-md-12" style=" text-align: center;">
        <div class="font-weight-bold" style="font-size:50px;">Bem-vindo</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style=" text-align: center;">
        <div style="font-size:15px;">O objetivo desta ferramenta é auxiliar na elicitação de cenários de conflito, assim como o gerenciamento e acesso aos cenários de conflitos cadastrados.</div>
        <div style="font-size:15px;">O cadastro do cenário de conflito foi dividido em quatro etapas (Informações Gerais, Stakeholders, Classificação e Jornada do Conflito).</div>
        <div style="font-size:15px;">Uma entrevista pode conter vários cenários de conflito.</div>
    </div>
</div>

<div class="row" style="margin-top:30px;">
    <div class="col-md-6">
        <div class="row" style=" text-align: center;">

            <div class="col-md-12" style=" text-align: center;">
                <a class="nav-link" asp-controller="Scenario" asp-action="Index" style="font-size: 1.5rem; ">
                    <img src="~/Image/icone-buscar2.png" style="height: 200px; width: 200px;" />
                </a>

            </div>
            <div class="col-md-12" style=" text-align: center;">
                <div class="font-weight-bold" style="font-size:30px;">Buscar Cenários de Conflito</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row" style=" text-align: center;">

            <div class="col-md-12" style=" text-align: center;">
                <a class="nav-link" asp-controller="Scenario" asp-action="Create" style="font-size: 1.5rem; ">
                    <img src="~/Image/icone-cadastro-png-7.png" style="height: 200px; width: 200px;" />
                </a>
            </div>
            <div class="col-md-12" style=" text-align: center;">
                <div class="font-weight-bold" style="font-size:30px;">Cadastrar Cenário de Conflito</div>

            </div>
        </div>
    </div>


</div>


