﻿@model Services.ViewModels.InterviewViewModel;

<form asp-controller="Interview" asp-action="Create" method="post" class="form-horizontal" role="form" autocomplete="off">
    <partial name="FormControl" model="Model">
        @*<button id="save" class="btn btn-primary">Save</button>
        <a asp-controller="Interview" asp-action="Index" id="cancel" class="btn btn-secondary">Cancel</a>*@
        <button id="save" class="btn btn-primary">Salvar</button>
        <a asp-controller="Interview" asp-action="Index" id="cancel" class="btn btn-secondary">Cancelar</a>
</form>
