﻿@model Services.ViewModels.ScenarioGeneralViewModel;

<label asp-for="@Model.InterviewId" class="control-label"></label><span style="color:red"> *</span>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the Interview for this Scenario, if there is an associated Interview"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha a Entrevista para esse Cenário, caso tenha uma Entrevista associada"></i>

@*<select asp-for="@Model.InterviewId" asp-items="@Model.InterviewSelectList" class="form-control dropdown-select2" searchable="Search...">*@
<select asp-for="@Model.InterviewId" asp-items="@Model.InterviewSelectList" class="form-control dropdown-select2" searchable="Procurar...">
    @*<option value="0">Select One</option>*@
    <option value="0">Selecione</option>
</select>

<span asp-validation-for="@Model.InterviewId" class="text-danger"></span>