﻿@model Services.ViewModels.InterviewViewModel;

<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />
<input asp-for="Realization" type="hidden" />

<div class="form-row">
    <div class="form-group col-4">
        <label asp-for="@Model.Title" class="control-label"></label>
        @*<input asp-for="@Model.Title" class="form-control" placeholder="Title" />*@
        <input asp-for="@Model.Title" class="form-control" placeholder="Título" />
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
    </div>
    <div class="form-group col-4">
        <label asp-for="@Model.Interviewer" class="control-label"></label>
        @*<input asp-for="@Model.Title" class="form-control" placeholder="Title" />*@
        <input asp-for="@Model.Interviewer" class="form-control" placeholder="Entrevistador" />
        <span asp-validation-for="@Model.Interviewer" class="text-danger"></span>
    </div>
    <div class="form-group col-4">
        <label asp-for="@Model.Realization" class="control-label"></label>
        @*<input asp-for="@Model.Title" class="form-control" placeholder="Title" />*@
        <input asp-for="@Model.Realization" type="date" class="form-control" />
        <span asp-validation-for="@Model.Realization" class="text-danger"></span>
    </div>
</div>



