﻿@model Services.ViewModels.ScenarioConflictViewModel;

<label asp-for="@Model.SeverityId" class="control-label"></label>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the Severity of the Conflict"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha o Grau de Severidade do Conflito"></i>

@*<select asp-for="@Model.SeverityId" asp-items="@Model.SeveritySelectList" class="form-control dropdown-select2" searchable="Search...">*@
<select asp-for="@Model.SeverityId" asp-items="@Model.SeveritySelectList" class="form-control dropdown-select2" searchable="Procurar...">
    <option value="0">Selecione</option>
</select>

<span asp-validation-for="@Model.SeverityId" class="text-danger"></span>