﻿@model Services.ViewModels.SeverityViewModel;

<form asp-controller="Severity" asp-action="Edit" method="post" class="form-horizontal" role="form" autocomplete="off">
    <input asp-for="UserId" type="hidden"/>
    <partial name="FormControl" model="Model">
        @*<button id="save" class="btn btn-primary">Save</button>
        <a asp-controller="Severity" asp-action="Index" id="cancel" class="btn btn-secondary">Cancel</a>*@
        <button id="save" class="btn btn-primary">Salvar</button>
        <a asp-controller="Severity" asp-action="Index" id="cancel" class="btn btn-secondary">Cancelar</a>
</form>
