﻿@model Services.ViewModels.SeverityViewModel;

<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.Type" class="control-label"></label>
        @*<input asp-for="@Model.Type" class="form-control" placeholder="Type" />*@
        <input asp-for="@Model.Type" class="form-control" placeholder="Grau de Severidade" />
        <span asp-validation-for="@Model.Type" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.Level" class="control-label"></label>
        @*<input asp-for="@Model.Level" class="form-control" placeholder="Type" />*@
        <input asp-for="@Model.Level" class="form-control" placeholder="Grau de Severidade" />
        <span asp-validation-for="@Model.Level" class="text-danger"></span>
    </div>
</div>



