﻿@model SeverityIndexViewModel;

    <div class="d-flex justify-content-between bd-highlight mb-3">
        <div class="col-md-4">
            <h4>
                Lista de Graus de Severidade
            </h4>
        </div>
        <div class="col-md-5">

        </div>
        <div class="p-1 col-md-3 bd-highlight">
            @*<a asp-controller="Severity" asp-action="Create" class="btn btn-primary pull-right h2">New Item</a>*@
            <a asp-controller="Severity" asp-action="Create" class="btn btn-primary pull-right h2">Novo Grau Severidade</a>
        </div>



        <div class="p-1 col-md-6 bd-highlight">

            <div class="input-group h2">
                @*<input name="data[search]" class="form-control" id="search" type="text" placeholder="Search Items">*@
                @*<input name="data[search]" class="form-control" id="search" type="text" placeholder="Procurar Severidade">*@

                @*<button class="btn btn-primary" type="submit">
                    <span class="fa fa-search"></span>
                </button>*@
            </div>

        </div>

    </div>



<div id="list">
    <partial name="TableList" model="Model">
</div>

<partial name="_ModalDelete">
<partial name="_ModalDetails">
<partial name="_ModalMessage">


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $(document).on('show.bs.modal', '#delete-modal', function (e) {
                var id = $(e.relatedTarget).closest('tr').prop('id');
                $('#confirm-delete').data('id', id);

            });

            $(document).on('click', '#confirm-delete', function () {
                var id = $(this).data('id');
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: '@Url.Action("Delete","Severity")/' + id,
                    success: function (data) {
                        $('#delete-modal').modal('hide');
                        $('#list').html(data);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('#text-message-modal').html(xhr.responseText)
                        $('#delete-modal').modal('hide');
                        $('#message-modal').modal('show');
                    }
                });
            });

            $(document).on('click', '#details-button', function () {

                var id = $(this).closest('tr').prop('id');

                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@Url.Action("Details","Severity")/' + id,
                    success: function (data) {
                        $('#modal-replace-body').html(data);
                        $('#modal-replace-body :input').prop('disabled', true);
                        $('#details-modal').modal('show');
                    }
                });

            })

        });
    </script>

}
