﻿@model Services.ViewModels.CompanyViewModel;

<form asp-controller="Company" asp-action="Create" method="post" class="form-horizontal" role="form" autocomplete="off">
    <partial name="FormControl" model="Model">
        @*<button id="save" class="btn btn-primary">Save</button>*@
        <button id="save" class="btn btn-primary">Salvar</button>
        @*<a asp-controller="Company" asp-action="Index" id="cancel" class="btn btn-secondary">Cancel</a>*@
        @if (!Model.FromModal)
        {
            <a asp-controller="Company" asp-action="Index" id="cancel" class="btn btn-secondary">Cancelar</a>

        }
</form>
