﻿@model Services.ViewModels.ScenarioGeneralViewModel;

<label asp-for="@Model.CompanyId" class="control-label"></label>
@*<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Choose the Company where the Conflict occurred"></i>*@
<i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Escolha o Perfil de Empresa em que o Conflito ocorreu"></i>

@*<select asp-for="@Model.CompanyId" asp-items="@Model.CompanySelectList" class="form-control dropdown-select2" searchable="Search...">*@
<select asp-for="@Model.CompanyId" asp-items="@Model.CompanySelectList" class="form-control dropdown-select2" searchable="Procurar...">
    @*<option value="0">Not Informed</option>*@
    <option value="0">Não Informado</option>
</select>

<span asp-validation-for="@Model.CompanyId" class="text-danger"></span>