﻿@using Domain.Enums;
@model Services.ViewModels.CompanyViewModel;


<input asp-for="Id" type="hidden" />
<input asp-for="FromModal" type="hidden" />

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.Description" class="control-label"></label>
        @*<input asp-for="@Model.Name" class="form-control" placeholder="Name" />*@
        <input asp-for="@Model.Description" class="form-control" placeholder="Descrição" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.PublicOrPrivate" class="control-label"></label>
        <div class="form-check col-6">
            @*<input asp-for="@Model.Name" class="form-control" placeholder="Name" />*@

            <input type="radio" asp-for="@Model.PublicOrPrivate" class="form-check-input" value="@PublicOrPrivate.Public" checked />
            <label class="form-check-label">
                Pública
            </label>
        </div>
        <div class="form-check col-6">
            <input type="radio" asp-for="@Model.PublicOrPrivate" class="form-check-input" value="@PublicOrPrivate.Private" />
            <label class="form-check-label">
                Privada
            </label>
            @*<span asp-validation-for="@Model.PublicOrPrivate" class="text-danger"></span>*@
        </div>
    </div>
    <div class="form-group col-6">
        <label asp-for="@Model.Type" class="control-label"></label>
        @*<input asp-for="@Model.Type" class="form-control" placeholder="Type" />*@
        <input asp-for="@Model.Type" class="form-control" placeholder="Tipo" />
        <span asp-validation-for="@Model.Type" class="text-danger"></span>
    </div>
</div>

<div class="form-row">
    <div class="form-group col-6">
        <label asp-for="@Model.EmployeesNumber" class="control-label"></label>
        <input asp-for="@Model.EmployeesNumber" class="form-control" />
        <span asp-validation-for="@Model.EmployeesNumber" class="text-danger"></span>
    </div>
</div>



